@charset "UTF-8";
.gallerylist{
	max-width:1200px;
	width:100%;
	margin: 0 auto;
}
.gallerylist > ul{
	font-size:0;
	padding-left: 0px;
}
.gallerylist > ul > li{
	display: inline-block;
	vertical-align: top;
	width: 25%
}
.gallerylist > ul > li > a {
	display: block;
	width:auto;
	text-decoration: non;
	margin:5px;
}
.gallerylist > ul > li > a .screen{
	position: relative;
	overflow: hidden;
}
.gallerylist > ul > li > a .screen .top{
	position: absolute;
	bottom: 150%;
	left:10px;
	z-index: 2;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	transition:all .35s;
}
.gallerylist > ul > li > a .screen .bottom{
	position: absolute;
	bottom: 150%;
	left:10px;
	z-index: 2;
	color: #fff;
	font-size: 12px;
}
.gallerylist > ul > li > a .screen img {
	width:100%;
}
.gallerylist > ul > li > a:hover .top { bottom:52%;}
.gallerylist > ul > li > a:hover .bottom { top:80%;}
.gallerylist > ul > li > a .screen::after {
	content: '';
	display: block;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1;
	opacity: 0;
	transition:all .35s;
}
.gallerylist > ul > li > a:hover .screen::after {
	opacity: 1;
}
